.section-ferramentas {
  width: 100%;
  min-height: 80vh; /* Garantir altura mínima para responsividade */
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  padding: 50px 20px; /* Adicionar padding para melhor espaçamento */
  box-sizing: border-box; /* Garantir que o padding seja incluído no width */
}

.section-ferramentas.visible {
  opacity: 1;
  transform: translateY(0);
}

.section-headers {
  text-align: center;
  margin-bottom: 30px;
  color: #101645;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column-reverse; /* Empilha os ícones abaixo do texto em telas menores */
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .column {
    flex-direction: row; /* Em telas maiores, o layout volta a ser em colunas lado a lado */
    height: auto; /* Ajuste dinâmico da altura */
  }
}

.ferramentas {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px; /* Espaço entre os ícones */
}

.icone {
  width: 100px;
  height: 100px;
  object-fit: contain;
  opacity: 0.8;
  animation: moveIcon 15s infinite linear;
}

/* Reduzir movimento e centralizar melhor os ícones */
@keyframes moveIcon {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 20px);
  }
  50% {
    transform: translate(-10px, 15px);
  }
  75% {
    transform: translate(15px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.texto {
  width: 100%;
  max-width: 600px; /* Limitar a largura máxima do texto */
  padding: 20px;
  color: #101645;
  font-size: 1rem;
  line-height: 1.6;
  text-align: left; /* Alinhar texto à esquerda */
}

.texto p {
  font-size: 1.2rem;
}

.texto strong {
  font-size: 1.2rem;
}
