.home-section {
    position: relative;
    width: 100%;
    height: 650px; /* Altura da seção */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Garante que o vídeo preencha toda a altura da seção */
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centraliza o texto */
    margin-top: 40px; /* Ajuste para descer o conteúdo */
}

.section1 {
    text-align: center;
    color: white;
}

.img-banner {
    max-width: 100%;
    max-height: 350px; /* Limita a altura da imagem */
    object-fit: contain;
    margin-bottom: -70px; /* Espaçamento entre a imagem e o texto */
    top: 10%;
}

.section1-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.section1 h3 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background-image: linear-gradient(to right, #FFFFFF, #C0C0C0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0.5rem 0;
}

.section1 p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: 0.5rem 0;
}

.contact-button {
    background: linear-gradient(to right, gold, goldenrod);
    color: #02081c;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.contact-button:hover {
    background: linear-gradient(to right, goldenrod, gold);
    color: #02081c;
}

/* Responsividade */
@media (max-width: 768px) {
    .home-section {
        height: 500px; /* Reduz a altura em dispositivos móveis */
    }

    .img-banner {
        max-width: 60%;
        max-height: 300px;
    }

    .section1 h3 {
        font-size: 40px;
    }

    .section1 p {
        font-size: 16px;
    }

    .contact-button {
        font-size: 0.9rem;
        padding: 8px 18px;
    }
}
